*{
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.full-list{
    margin: 0 45px;
    display: flex;
    flex-direction: column;
}

.eachTask{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}

.noTask{
    display: flex;
    margin: 10px 45px;
}

.task-important{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.task-desc{
    width: 75%;
    text-align: left;
    border: 2px solid black !important;
    border-radius: 12px;
    padding: 10px;
}

.trash_can, img{
    width: 80px;
}

@media screen and (max-width: 768px){

    .full-list{
        margin: 0 5px;
    }

    .eachTask{
        flex-wrap: wrap;
    }

    .noTask{
        margin: 10px 5px;
    }

    .trash_can, img{
        width: 80px;
    }

    .noTask{
        margin: 10px 5px;
    }
}