<!-- Display the tasks -->
<span *ngIf="UserTasks.length > 0">

    <!-- Card to display the tasks -->
    <mat-card class="full-list">

        <!-- List of tasks -->
        <mat-card-content>

            <!-- Each task -->
            <mat-list *ngFor="let task of UserTasks">

                <!-- Card for each task -->
                <mat-card >

                    <!-- Task information -->
                    <mat-card-header>

                        <!-- Task name, start date and deadline -->
                        <div class="eachTask">

                            <p>{{task.name}}</p>
                            <p>{{task.startDate | date}}</p>
                            <p>{{task.deadline | date}}</p>

                        </div>

                    </mat-card-header>

                    <!-- Task description and delete button -->
                    <div class="task-important">

                        <!-- Task description -->
                        <mat-card-content class="task-desc">

                            <p>{{task.description}}</p>
                            <span *ngIf="task.description == '' || task.description == null">
                                
                                There is no Description for this task
                            
                            </span>

                        </mat-card-content>

                        <!-- Delete button -->
                        <mat-card-footer class="trash_can">
                            
                            <button (click)="this.taskService.deleteTask(task.id)"><img src="/img/trash_can.png" alt=""></button>
                            
                        </mat-card-footer>

                    </div>

                </mat-card>

            </mat-list>

        </mat-card-content>

    </mat-card>

</span>

<!-- Message when there are no tasks -->
<span class="noTask" *ngIf="UserTasks.length === 0">
    <h3>
        Well Done. There is no more task to display.
    </h3>
</span>